* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
    z-index: 1;
}

figure img {
    width: 150px;
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav ul li {
    margin: 10px 0;
}

nav ul li a {
    text-decoration: none;
    font-size: 20px;
    color: #f4f6f8;
    font-weight: bold;
    font-family: monospace;


}

nav ul li a:hover {
    font-size: 24px;
    transition: font-size 0.3s ease-in-out;
}


#background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

section h2 {
    color: rgb(169, 169, 169);
    font-family: monospace;
    font-size: 17px;
}

section ul li {
    list-style: none;
    font-family: monospace;
    font-size: 12px;
}

section ul li:hover {
    font-size: 14px;
    transition: font-size 0.3s ease-in-out;
}

section ul {
    text-decoration: none;
}

section ul li a {
    text-decoration: none;
    color: rgb(169, 169, 169);
}

section {
    padding-top: 0;
    margin-top: -60px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    text-align: right; 
    width: fit-content; 
    margin-left: auto; 
    padding-right: 20px; 

}