* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
    z-index: 1;
}

figure img {
    width: 150px;
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav ul li {
    margin: 10px 0;
}

nav ul li a {
    text-decoration: none;
    font-size: 20px;
    color: #f4f6f8;
    font-weight: bold;
    font-family: monospace;


}

nav ul li a:hover {
    font-size: 24px;
    transition: font-size 0.3s ease-in-out;
}


#background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

